* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #696969;
  background-color: #FFFAF0;
  font-size: 25px;
  font-family: fantasy;
}

h1 {
  font-size: 60px;
  color: #2F4F4F;
}

h2 {
  color: #2F4F4F;
}

.button:link,
.button:visited {
  display: block;
  text-decoration: strong;
  color: #2F4F4F;
  background-color: #E9967A;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 10px solid #FFEBCD;    /* Dark gray */
  border-radius: 5px;

  width: 400px;
  margin: 40px auto;
}

#button-2 {
  color: #5D6063;  /* Dark gray */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E9967A;
  border-bottom: 10px solid #FFEBCD;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.picture-container {
  color: #FFFAF0;
  background-color: #E9967A;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pictures {
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.images {
  height: 250px;
  width: auto;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .images1,
  .images2,
  .images3 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .images1,
  .images2,
  .images3 {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
}
